.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-currentTime {
    text-align: center;
    margin: 0;
}

.header-icon {
    width: 25px;
    height: 25px;
}